<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  
  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>
  <% if @user %>
  <div class ="write review">
    <h2> Write a review </h1>
    <%= form_for [@product, @review] do |f| %>
      <div class="form-group">
      <% if f.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% f.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5]]), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      </div>

      <%= f.submit 'Create Review', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% end %>
  <h2>Product Reviews </h2>
  <div class = "well row reviews">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class ='col-xs-1'>User ID</th>
          <th scope="col"class ='col-xs-2'>Review Rating</th>
          <th scope="col">Review Description</th>
        </tr>
      </thead>
      <tbody>
    <% @product.reviews.reverse.each do |rev| %>
      <%= render 'review', rating: rev.rating, description: rev.description, user_id: rev.user_id, review: rev %>
    <% end %>
    </tbody>
    </table>
  </div>

</section>
